/********* GENERICO *********/    
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 40px;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1444' height='545' preserveAspectRatio='none' viewBox='0 0 1444 545'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1342%26quot%3b)' fill='none'%3e%3crect width='1444' height='545' x='0' y='0' fill='rgba(206%2c 212%2c 218%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L551.27 0L0 109.36z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 109.36L551.27 0L1010.54 0L0 265.22z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 265.22L1010.54 0L1049.69 0L0 394.48z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 394.48L1049.69 0L1180.17 0L0 436.92z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1444 545L1396.32 545L1444 417.7z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1444 417.7L1396.32 545L994.0699999999999 545L1444 416.01z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1444 416.01L994.0699999999999 545L485.85999999999996 545L1444 323.33z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1444 323.33L485.86 545L323.06 545L1444 251.42999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1342'%3e%3crect width='1444' height='545' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

img {
    width: 100%;
}
/********* HEADER *********/
.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header h1 {
    text-align: center;
    color: black;
    z-index: 10;
    text-shadow: -5px 0px 4px rgba(0, 0, 0, .5);
    font-size: 40px;
}

.wave svg {
    position: absolute;
    top: 0px;
    width: 100%;
}
header {
    position: relative;
}
h3 {
    z-index: 10;
}
.wave svg {
    z-index: -10;
}
/********* NAV *********/

nav ul li {
    list-style-type: none;
    display: inline-block;
    z-index: 10;
}

nav ul li a {
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 29px;
}

nav ul li a:hover {
    background-color: rgb(108,117,125, .5);
    transition-duration: .4s;
}

nav {
  text-align: center;
  z-index: 10;
}

nav ul {
    word-spacing: 20px;
    padding: 0px;
    border-bottom: 1px #6C757D solid;
}

/********* GALLERY *********/

#gallery h2 {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background: rgb(108,117,125);
    background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(173,181,189,1) 70%, rgba(206,212,218,1) 100%);
    color: #000;
}
.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.picture {
    width: 33.3333%;
    padding: 10px;
}
.picture img {
    width: 100%;
    border-radius: 10px;
}

.caption p {
    padding: 10px;
    margin: 0px;
    color: black;
    border-bottom:3px  #6C757D solid;
}
.picture h3 {
    color: black;
}
.lavori {
    background: rgb(108,117,125);
    background: linear-gradient(45deg, rgba(108,117,125,1) 0%, rgba(173,181,189,1) 70%, rgba(206,212,218,1) 100%);
    border-radius: 10px;
    box-shadow:
  5.5px 5.7px 4.2px rgba(0, 0, 0, 0.053),
  12px 12.5px 11.3px rgba(0, 0, 0, 0.077),
  20px 20.9px 22.2px rgba(0, 0, 0, 0.095),
  31px 32.3px 38.9px rgba(0, 0, 0, 0.113),
  47.2px 49.3px 65.4px rgba(0, 0, 0, 0.137),
  68px 71px 125px rgba(0, 0, 0, 0.19)
;

}

/*SLIDER*/

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    width: 100%;
    transition: all 0.15s ease;
}

.images input {
    display: none;
}

.docs {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.docs label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.docs label:hover {
    background: #fff;
}


#img1-1:checked ~ .m1-1 {
    margin-left: 0;
}

#img1-2:checked ~ .m1-2 {
    margin-left: -100%;
}

#img1-3:checked ~ .m1-3 {
    margin-left: -200%;
}




#img2-1:checked ~ .m2-1 {
    margin-left: 0;
}

#img2-2:checked ~ .m2-2 {
    margin-left: -100%;
}

#img2-3:checked ~ .m2-3 {
    margin-left: -200%;
}



#img3-1:checked ~ .m3-1 {
    margin-left: 0;
}

#img3-2:checked ~ .m3-2 {
    margin-left: -100%;
}

#img3-3:checked ~ .m3-3 {
    margin-left: -200%;
}



#img4-1:checked ~ .m4-1 {
    margin-left: 0;
}

#img4-2:checked ~ .m4-2 {
    margin-left: -100%;
}

#img4-3:checked ~ .m4-3 {
    margin-left: -200%;
}


#img5-1:checked ~ .m5-1 {
    margin-left: 0;
}

#img5-2:checked ~ .m5-2 {
    margin-left: -100%;
}

#img5-3:checked ~ .m5-3 {
    margin-left: -200%;
}


#img6-1:checked ~ .m6-1 {
    margin-left: 0;
}

#img6-2:checked ~ .m6-2 {
    margin-left: -100%;
}

#img6-3:checked ~ .m6-3 {
    margin-left: -200%;
}

/********* VIDEO *********/

.time-laps {
    display: flex;
    justify-content: space-around;
}

.time-laps video {
    width: 100%;
}

/********* ABOUT *********/

#about h2 {
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 70px;
    background: rgb(108,117,125);
    background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(173,181,189,1) 70%, rgba(206,212,218,1) 100%);
}

.me {
    display: flex;
    align-items: center;
    margin: 60px;
}

.me img {
    width: 50%;
    border-radius: 100%;
    padding: 15px;
}

.me p {
    width: 50%;
    padding: 10px;
    border-right: 2px #6C757D solid;
    border-left: 2px #6C757D solid;
}



/********* CONTATTI *********/

#contact h2 {
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    background: rgb(108,117,125);
    background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(173,181,189,1) 70%, rgba(206,212,218,1) 100%);
}

.contatti {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px;
}
.contatti p {
    padding: 5px 10px;
}
.contact {
    margin: 5px;
    border-right: 2px #6C757D solid;
    border-left: 2px #6C757D solid;
    line-height: 35px;
}
.social {
    margin: 5px;
    border-right: 2px #6C757D solid;
    border-left: 2px #6C757D solid;
    line-height: 35px;
}

/********* FOOTER *********/

footer {
    font-size: 20px;
    box-shadow: 8px 12px 9px 7px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background: rgb(108,117,125);
    background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(173,181,189,1) 70%, rgba(206,212,218,1) 100%);
    margin: 10px 70px;
}
footer h4 {
    color: black;
    text-align: center;
    margin: -20px;
}
footer h5 {
    color: black;
    text-align: center;
    text-decoration: underline;
}


/*DISPOSITIVI*/


@media only screen and (min-width: 1600px) {
    .picture {
        width: 25%;
        padding: 20px;
    }
    .item {
        margin: 100px;
    }
}

@media only screen and (min-width: 2390px) {
    .picture {
        width: 25%;
        padding: 50px;
    }
}



@media only screen and (max-width: 650px) {
    .picture {
        width: 50%;
        padding: 10px;
    }
    .me {
        display: flex;
        flex-direction: column;
    }
    
    .me img {
        width: 100%;
    }
    
    .me p {
        width: 100%;
    }

    body {
        font-size: 26px;
        font-family: 'Times New Roman', Times, serif;
    }

    .me img {
        padding: 0px;
    }
}

@media only screen and (max-width: 450px) {
    .picture {
        width: 100%;
        padding: 10px;
    }
    
    .time-laps video {
        width: 150%;
    }
}
@media only screen and (max-width: 300px) {
    .header h1 {
        font-size: 28px;
    }
    nav ul {
        word-spacing: 0px;
        font-size: small;
    }

    .picture h3  {
        text-align: center;
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .contatti {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 60px;
    }
    .contact {
        margin: 10px;
        border-top: 2px #6C757D solid;
        border-bottom: 2px #6C757D solid;
        border-left: none;
        border-right: none;
    }
    .social {
        margin: 10px;
        border-top: 2px #6C757D solid;
        border-bottom: 2px #6C757D solid;
        border-left: none;
        border-right: none;
    }
    .picture h3  {
        text-align: center;
    }

    nav ul li a {
        font-size: 22px;
    }
}

@media only screen and (min-width: 800px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: unset;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 30px;
    }
}

@media only screen and (max-width: 270px) {
    .picture h3 {
        font-size: 23px;
    }
}